*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(255, 224, 145);;
}

header{
    height: 30px;
    width: 100%;
    padding: 40px;
    background-color: orange;
}

header .subtitulo{
    float: left;
    color: rgb(255, 0, 0);
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}

.nav1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    float: right;
    font-size: 25px;
    background-color:seagreen;
    border-style: solid;
    border-radius: 5px;
    min-height: 20px;
}

.nav1 ul li{
    list-style: none;
    display: flex;
    display: inline-block;
    margin-right: 12px;
}

.nav1 a{
    text-decoration: none;
    color: rgb(237, 237, 102);
}

.nav1 a:hover{
    color:crimson;
}

main{
    min-height: (100vh);
    width: 100%;
}



main .contenido{
    min-height: 1000px;
    width: 1500px;
    padding: 10px;
    margin: 10px;
    
    display: grid;
    grid-template-columns: repeat(3 , 600px);
    grid-template-rows: 800px 700px 700px 700px;
    grid-template-areas:" vid vid vid "
                        " img3 img3 img2 "
                        " img4 img1 img1 "
                        " img4 img5 img5 "
    ;
    border-radius: 10px;
    grid-gap: 15px;
}

.item{
    border: solid 2px black;
    display: flex;
    justify-content: space-between;
}

.item1{
    grid-area: img1;
    background-image: url(../img/cajones.jpg);
    background-position: center;
    background-size: cover;
    height: auto;
    width: auto;
}

.item2{
    grid-area: img2;
    background-image:url(../img/mesita.jpg) ;
    background-position: center;
    background-size: cover;
}

.item3{
    grid-area: img3;
    background-image: url(../img/mueble.jpg);
    background-position: center;
    background-size: cover;
}

.item4{
    grid-area: img4;
    background-image: url(../img/estante.jpg);
    background-position: center;
    background-size: cover;
    height: auto;
    width: auto;
}

.item5{
    grid-area: img5;
    background-image: url(../img/maderaymetal.jpg);
    background-position: center;
    background-size: cover;
    height: auto;
    width: auto;
}

.work{
    padding-left: 60px;
    padding-right: 60px;
    padding-top: -20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer{
    height: 100px;
    width: 100%;
    background-color: cornflowerblue;
    text-align: center;
    font-size: 30px;
    color: black;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    font-style: italic;
}

.irfoo{
    height: 50px;
    width: 50px;
    background-color: darkblue;
    position: fixed;
    bottom: 40px;
    right: 40px;
    box-shadow: 0px 0px 15px black;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    border-radius: 40%;
    border: 2px solid; 
    color: white;
}