*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 224, 145);;
}

header{
    height: 30px;
    width: 100%;
    padding: 60px;
    background-color: orange;
}

header .subtitulo{
    float: left;
    color: rgb(255, 0, 0);
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 2rem;
}

header .container-fluid{
    background-color:seagreen;
    border-radius: 15px;
    display: flex;
    margin-right: 50px;
    border: solid 2px rgb(237, 237, 102);
}

nav{
    width: 529px;
    display: flex;
    float:right;
    justify-content:space-between;
}


.container-fluid a{
    color: rgb(237, 237, 102);
}

main{
    height: 100vh;
    width: 100%;
}

main .parrafo{
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin: 10px;
}

.row{
    padding: 10px;
    margin: 30px;
}

.text1{
    text-align: center;
    padding: 10px;
    font-size: 22px;
}

.text2{
    font-size: 22px;
}

.text3{
    font-size: 22px;
}

.col{
    height: 50px;
    width: 700px;
}

.container2{
    align-items: center;
}

.container2 :hover{
    transform: scale(1.02);
}

.imgx{
    border-radius: 10px;
    border-style:dashed;
}


.img1{
    height: 350px;
    width: 500px;
    margin-left: 20px;
}
.img2{
    height: 350px;
    width: 500px;
    margin-left: 20px;
}
.img3{
    height: 350px;
    width: 500px;
    margin-left: 20px;
}

span{
    text-decoration: underline;
    text-transform: uppercase;
    font-style: italic;
}

.t1{
    text-align: center;
    font-size: large;
    font-size: x-large;
}


footer{
    height: 100px;
    width: 100%;
    background-color: cornflowerblue;
    text-align: center;
    font-size: 30px;
    color: black;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    font-style: italic;
}

footer a{
    text-decoration: none;
    color: black;
    text-decoration: underline;
}

footer a :hover{
    color: rgb(184, 171, 171);
}
