header{
    height: 280px;
    width: 100%;
    background-color: orange;
    padding: 20px;

    .imglogo{
        height: 260px;
        width: 500px;
        display: flex;
        flex-direction: row;
        float: left;
    }

    .container-fluid{
        background-color:seagreen;
        border-radius: 15px;
        display: flex;
        margin-right: 50px;
        border: solid 2px rgb(237, 237, 102);
        font-size: 1rem;
    }
    
    nav{
        width: 529px;
        display: flex;
        float:right;
        justify-content:space-between;
    }
    
    .container-fluid a{
        color: rgb(237, 237, 102);
    }
}

@media only screen and (max-width: 1120px) and (min-width: 575px ){
    
    header{
        height: 380px;

        .imglogo{
            margin-left: 50px;
        }
    }
}

@media only screen and (max-width: 574px) and (min-width:321px) {
    header{
        height: 300px;

        .imglogo{
            height: 150px;
            width: 250px;
        }

        nav{
            width: 300px;
        }
    }
}

@media only screen and (max-width:320px){
    header{
        nav{
            width: 200px;
        }

        .imglogo{
            height: 120px;
            width: 180px;
        }
    }
}