main{
    height: auto;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    .datos{
        .scroll{
        background-color: rgb(255, 224, 145);
        text-align: center;
        justify-content: center;
        height: 1000px;
        }

        h2{
            color: rgb(205, 28, 28);
            font-style: italic;
            font-size: 40px;
        }
        
        .text1{
            height: 450px;
            background-image: url(/img/taller.jpg);
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            padding-left: 170px;
            padding-right: 170px;
            padding-top: 80px;
            color: ghostwhite;
            p{
                text-shadow: black 2px 2px 1px;
                display: flex;
                text-align: center;
            }
        }
        
        .text2{
            height: 450px;
            background-image: url(/img/carpintero2.jpg);
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            margin-top: 30px;
            margin-bottom: 30px;
            padding-left: 170px;
            padding-right: 170px;
            padding-top: 80px;
            color: ghostwhite;
            p{
                text-shadow: black 2px 2px 1px;
                display: flex;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 835px){
    main{
        .text1,
        .text2{
            height: 600px;
        }

    }
}