.footercatalogo{
    height: 100px;
    width: 100%;
    background-color: cornflowerblue;
    text-align: center;
    font-size: 30px;
    color: black;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    font-style: italic;

    a{
        text-decoration: none;
        color: black;
        text-decoration: underline;
    }
    
    a :hover{
        color: rgb(184, 171, 171);
    }
    
}

@media only screen and (max-width:548px){
    .footercatalogo{
        height: 80px;
        font-size: 18px;
    }
}

@media only screen and (max-width:364px){
    .footercatalogo{
        height: 80px;
    }
}
