.Hc{
    min-height: 50px;
    width: 100%;
    padding: 100px;
    background-color: orange;

    .subtitulo2{
        float: left;
        font-size: 2rem;
    }
    
    .container-fluid{
        background-color:seagreen;
        border-radius: 15px;
        display: flex;
        margin-right: 50px;
        border: solid 2px rgb(237, 237, 102);
    }
    
    nav{
        width: 529px;
        display: flex;
        float:right;
        justify-content:space-between;
    }
    
    .container-fluid a{
        color: rgb(237, 237, 102);
    }
}

@media only screen and (max-width:1100px){
    .Hc{
        height: 80px;
    }
}

@media only screen and (max-width:630px){
    .Hc{
        height: 100px;
        nav{
            width: 300px
        }
    }
}