.Hc{
    min-height: 50px;
    width: 100%;
    padding: 100px;
    background-color: orange;

    .subtitulo2{
        float: left;
        font-size: 2rem;
    }
    
    .container-fluid{
        background-color:seagreen;
        border-radius: 15px;
        margin-right: 50px;
        border: solid 2px rgb(237, 237, 102);
    }
    
    nav{
        width: 505px;
        display: flex;
        float:right;
        justify-content:space-between;
    }
    
    .container-fluid a{
        color: rgb(237, 237, 102);
    }
}

@media only screen and (max-width:1100px){
    .Hc{
        height: 80px;
    }
}

@media only screen and (max-width:648px){
    .Hc{
        .subtitulo2{
            font-size: 22px;
        }
    }
}

@media only screen and (max-width:630px){
    .Hc{
        nav{
            width: 300px
        }
    }
}

@media only screen and (max-width:508px){
    .Hc{
        padding: 80px;
        padding-bottom: 140px;
    }
}

@media only screen and (max-width:400px){
    .Hc{
        nav{
            width: 210px
        }
    }
}

@media only screen and (max-width:300px){
    .Hc{
        nav{
            padding-left: 10px;
        }
    }
}

@media only screen and (max-width:315px){
    .Hc{
        .subtitulo2{
            padding-right: 60px;
        }
    }
}