.mainT{
    height: 100vh;
    width: 100%;
    padding: 10px;
    background-color:rgb(255, 224, 145);
    height: 100%;


    .container{
        display: flex;
    }

    .catalogo{
        margin: 10px 20px;
        float: left;
        width: 550px;
        box-shadow: 0px 4px 8px 0px black;
        background-color:whitesmoke;
    }
    
    .photo{
        height: 100%;
        height: auto;
    }
    
    .catalogo:hover{
        border: 1px solid;
        box-shadow: 0px 4px 8px 0px black;
        transform: scale(1.05) ;
    }
    
    .piecatt{
        text-align: center;
        padding: 10px;
        font-size: 36px;
    }
    
    .piecatt a{
        text-decoration: none;
        color:dodgerblue;
        text-shadow: 0px 0px 2px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-shadow: 0px 6px 8px 0px;
    }
    
    .piecatt :hover{
        color:black;
    }

    @mixin imgs {
        height: 430px;
        width: 550px;
    }
    
    .imag1{
        @include imgs()
    }
    .imag2{
        @include imgs()
    }
    .imag3{
        @include imgs()
    }
    .imag4{
        @include imgs()
    }
    
}

@media only screen and (max-width:1200px) and (min-width:992px) {
    .mainT{
        @mixin imgs {
            height: 300px;
            width: 430px;
        }
        .imag1{
            @include imgs()
        }
        .imag2{
            @include imgs()
        }
        .imag3{
            @include imgs()
        }
        .imag4{
            @include imgs()
        }
        
        .catalogo{
            width: 430px;
        }
    }
}

@media only screen and (max-width:991px) and (min-width:425px){
    .mainT{
        @mixin imgs {
            height: 300px;
            width: 350px;
        }
        .imag1{
            @include imgs()
        }
        .imag2{
            @include imgs()
        }
        .imag3{
            @include imgs()
        }
        .imag4{
            @include imgs()
        }
        
        .catalogo{
            width: 350px;
        }

        .piecatt{
            font-size: 22px;
        }
    }
}

@media only screen and (max-width:424px){
    .mainT{
        @mixin imgs {
            height: 170px;
            width: 270px;
        }
        .imag1{
            @include imgs()
        }
        .imag2{
            @include imgs()
        }
        .imag3{
            @include imgs()
        }
        .imag4{
            @include imgs()
        }
        
        .catalogo{
            width: 270px;
        }

        .piecatt{
            font-size: 18px;
        }
    }
}

@media only screen and (max-width:344px) {
    .mainT{
        padding: 2px;
    }
}

@media only screen and (max-width:336px){
    .mainT{
        @mixin imgs {
            height: 110px;
            width: 170px;
        }
        .imag1{
            @include imgs()
        }
        .imag2{
            @include imgs()
        }
        .imag3{
            @include imgs()
        }
        .imag4{
            @include imgs()
        }
        
        .catalogo{
            width: 170px;
        }

        .piecatt{
            font-size: 14px;
        }
    }
}