.footercontacto{
    height: 100px;
    width: 100%;
    background-color: cornflowerblue;
    text-align: center;
    font-size: 30px;
    color: black;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    font-style: italic;

    a{
        text-decoration: none;
        color: black;
        text-decoration: underline;
    }
    
    a :hover{
        color: rgb(184, 171, 171);
    }
    
}

@media only screen and (max-width:548px){
    .footercontacto{
        height: 120px;
    }
}

@media only screen and (max-width: 366px){
    .footercontacto{
        height: 170px;
    }
}