.Hcont{
    height: 30px;
    width: 100%;
    padding: 100px;
    background-color: orange;

    .subtitulo4{
        float: left;
        border-radius: 5px;
        font-size: 2rem;
    }

    nav{
        width: 529px;
        display: flex;
        float:right;
        justify-content:space-between;

        .container-fluid{
            background-color:seagreen;
            border-radius: 15px;
            display: flex;
            margin-right: 50px;
            border: solid 2px rgb(237, 237, 102);
        }
        
        .container-fluid a{
            color: rgb(237, 237, 102);
        }
    }
}

@media only screen and (max-width:1100px){
    .Hco{
        height: 60px;
    }
}

@media only screen and (max-width:640px){
    .Hco{
        nav{
            width: 300px;
        }
    }
}

@media only screen  and (max-width:400px){
    .Hco{
        nav{
            width: 250px;
        }
    }
}