.Hcont{
    height: 30px;
    width: 100%;
    padding: 100px;
    background-color: orange;

    .subtitulo4{
        float: left;
        border-radius: 5px;
        font-size: 2rem;
    }

    nav{
        width: 529px;
        display: flex;
        float:right;
        justify-content:space-between;

        .container-fluid{
            background-color:seagreen;
            border-radius: 15px;
            display: flex;
            margin-right: 50px;
            border: solid 2px rgb(237, 237, 102);
        }
        
        .container-fluid a{
            color: rgb(237, 237, 102);
        }
    }
}

@media only screen and (max-width:1100px){
    .Hcont{
        height: 60px;
    }
}

@media only screen and (max-width:640px){
    .Hcont{
        padding: 110px;
        nav{
            width: 300px;
        }
        .subtitulo4{
            font-size: 22px
        }
    }
}

@media only screen and (max-width:440px){
    .Hcont{
        padding-left: 70px;
        .subtitulo4{
            font-size: 22px;
        }
        nav{
            width: 250px;
        }
    }
}



@media only screen and (max-width:390px){
    .Hcont{
        nav{
            width: 200px;
        }
    }
}

@media only screen and (max-width:340px){
    .Hcont{
        padding-left: 20px;
    }
}

@media only screen and (max-width:310px){
    .Hcont{
        padding: 40px;
        padding-bottom: 120px;
    }
}