.maincon{
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .squarew{
        p{
            font-style: oblique;
        }
    }

    .ubi{
        border-radius: 10px;
        margin: 10px 20px;
        float: left;
        width: 550px;
        box-shadow: 0px 4px 8px 0px black;
        background-color:green;
    

        .foto{
            height: 100%;
            height: auto;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            .img1{
                height: 430px;
                width: 550px;
            }
        }

        .piecont{
            text-align: center;
            padding: 10px;
            font-size: 36px;
        
            a{
                text-decoration: none;
                color:aliceblue;
                text-shadow: 0px 0px 2px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                text-shadow: 0px 6px 8px 0px;
                
            }
            
            .piecat :hover{
                color:indigo;
            }
    }

    .formu{
        width: 900px;
        border: 1px solid black;
        justify-content: center;

        .squarew{
            display: flex;
            justify-content: center;
            padding: 250px;
                p{
                    font-style: oblique;
                }
            }
        }
    }

    .datoscontacto{
        background-color: rgba(0, 0, 0, 0.484);
        .parr{
            text-align: justify;
        }
    }
}

@media only screen and (max-width:1475px){
    .maincon{
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        margin-bottom: 25px;
        height: auto;
        .squarew{
            p{
                padding-top: 40px;
                font-style: oblique;
            }
        }
    }
}

@media only screen and (max-width: 560px){
    .maincon{
        .foto{
            display: none;
        }
    
        .ubi{
            width: 320px;
        }
    }
}

@media only screen and (max-width:430px){
    .maincon{
        justify-content: flex-start;
        .squarew{
            font-size: 12px;
            
        }
        .ubi{
            width: 140px;
            padding: 10px;
            .piecont{
            font-size: 18px;
            }
        }

        .datoscontacto{
            h2,
            h4{
                font-size: 16px;
            }
        }
    }
}

@media only screen and (max-width:320px){
    .maincon{
        .squarew{
            font-size: 10px;
        }
        .ubi{
            width: 140px;
            .piecont{
            font-size: 16px;
            }
        }

        .datoscontacto{
            h2,
            h4{
                font-size: 14px;
            }
        }
    }
}


