.Hcu{
    height: 30px;
    width: 100%;
    padding: 100px;
    background-color: orange;

    .subtitulo5{
        float: left;
        border-radius: 5px;
        font-size: 2rem;
    }
    
    nav{
        width: 505px;
        display: flex;
        float:right;
        justify-content:space-between;

        .container-fluid{
            background-color:seagreen;
            border-radius: 15px;
            display: flex;
            margin-right: 50px;
            border: solid 2px rgb(237, 237, 102);

        
        }
        .container-fluid a{
            color: rgb(237, 237, 102);
        }
    }
}

@media only screen and (max-width: 1310px){
    .Hcu{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width:774px){
    .Hcu{
        padding: 140px;
    }
}

@media only screen and (max-width:630px){
    .Hcu{
        nav{
            width: 250px;
        }
    }
}

@media only screen and (max-width:566px){
    .Hcu{
        .subtitulo5{
            font-size: 24px;
        }
    }
}

@media only screen and (max-width:500px){
    .Hcu{
        .subtitulo5{
            font-size: 22px;
        }
    }
}

@media only screen and (max-width:438px){
    .Hcu{
        padding: 60px;
        padding-bottom: 140px;
    }
}

@media only screen and (max-width:390px){
    .Hcu{
        padding: 50px;
        padding-bottom: 160px;
        nav{
            width: 200px;
        }
    }
}