.footerwork{
    height: 100px;
    width: 100%;
    background-color: cornflowerblue;
    text-align: center;
    font-size: 30px;
    color: black;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    font-style: italic;

    a{
        text-decoration: none;
        color: black;
        text-decoration: underline;
    }
    
    a :hover{
        color: rgb(227, 15, 15);
    }
}

@media only screen and (max-width:992px){
    .footerwork{
        height: auto;
    }
}

@media only screen and (max-width:400px){
    .footerwork{
        font-size: 22px;
    }
}
