.Ht{
    min-height: 50px;
    width: 100%;
    padding: 90px;
    background-color: orange;
    display: flex;
    justify-content: space-around;

    .subtitulo1{
        float: left;
        font-size: 2rem;
    }
    
    .container-fluid{
        background-color:seagreen;
        border-radius: 15px;
        display: flex;
        margin-right: 50px;
        border: solid 2px rgb(237, 237, 102);
    }
    
    nav{
        width: 529px;
        display: flex;
        float:right;
        justify-content:space-between;
    }
    
    .container-fluid a{
        color: rgb(237, 237, 102);
    }
}

@media only screen and (max-width:985px){
    .Ht{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width:630px){
    .Ht{
        nav{
            width: 300px;
        }
    }
}

@media only screen and (max-width:528px) and (min-width:391px){
    .Ht{
        min-height: 70px; 
    }
}

@media only screen and (max-width:390px){
    .Ht{
        nav{
            padding-right:40px;
        }
    }
}