
.mainwork{
    .columnaswork{
        padding: 10px;
        margin: 5px;
    }

    .colwork{
        padding: 15px;
    }


    .imgen1{
        height: 300px;
        width: 400px;
        border-radius: 10px;
        border: solid black 2px;
    }

    .colwork :hover{
        transform: scale(1.05)
    }

    .imgen2{
        height: 380px;
        width: 500px;
        border-radius: 10px;
        border: solid black 2px;
    }
    .imgen3{
        height: 350px;
        width: 250px;
        border-radius: 10px;
        border: solid black 2px;
    }
    .imgen4{
        height: 600px;
        width: 1200px;
        border-radius: 10px;
        border: solid black 2px;
    }
    .imgen5{
        height: 570px;
        width: 800px;
        border-radius: 10px;
        border: solid black 2px;
    }
    .imgen6{
        height: 550px;
        width: 400px;
        border-radius: 10px;
        border: solid black 2px;
    }
}

.textotra{
    margin: 40px;
    padding: 30px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media only screen and (max-width:1290px){
    .mainwork{
        .imgen4{
            height: 400px;
            width: 800px;
        }
    }
}

@media only screen and (max-width:915px){
    .mainwork{
        .imgen4{
            height: 350px;
            width: 570px;
        }
        .imgen5{
            height: 320px;
            width: 550px;
        }
    }
}

@media only screen and (max-width:635px){
    .mainwork{
        .imgen4{
            display: none;
        }
        .imgen5{
            height: 280px;
            width: 470px;
        }
    }
}



@media only screen and (max-width:550px){
    .imgen2{
        display: none;
    }
}

@media only screen and (max-width:485px){
    .mainwork{
        .imgen5{
            display: none;
        }
    }
}

@media only screen and (max-width:444px){
    .mainwork{
        flex-direction: column;
        .imgen1{
            width: 250px;
            height: 250px;
        }

        .imgen6{
            width: 300px;
            height: 450px;
        }

        .imgen3{
            width: 200px;
            height: 300px;
        }
    }
}

@media only screen and (max-width:360px){
    .mainwork{
        .imgen6{
            width: 250px;
            height: 400px;
        }
        align-content: flex-start;
    }
}